<a href="https://colab.research.google.com/github/vlaskz/titanic-probability/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

dados = pd.read_csv('/content/train.csv')
dados = dados.drop(['Name','Ticket','Cabin','Embarked'],axis=1)
dados = dados.set_index(['PassengerId'])
dados = dados.rename(columns={'Survived':'Target'}, inplace=False)
dados.head()
dados.describe()
dados.describe(include=['O'])
dados['Sex_F'] = np.where(dados['Sex']=='Female',1,0)
dados['Pclass_1'] = np.where(dados['Pclass']==1, 1, 0)
dados['Pclass_2'] = np.where(dados['Pclass']==2, 1, 0)
dados['Pclass_3'] = np.where(dados['Pclass']==3, 1, 0)
dados = dados.drop(['Sex','Pclass'],axis=1)

dados.fillna(0, inplace=True)


x_train, x_test, y_train, y_test = train_test_split(dados.drop(['Target'],axis=1),
                                                    dados["Target"],
                                                    test_size=0.3,
                                                    random_state = 1234)

[{'treino':x_train.shape},{'teste':x_test.shape}]

rndForest = RandomForestClassifier(n_estimators=1000,
                                   criterion='gini',
                                   max_depth=5)

rndForest.fit(x_train, y_train)
probabilidade = rndForest.predict_proba(dados.drop('Target',axis=1))[:,1]
classificacao = rndForest.predict(dados.drop('Target',axis=1))

dados['probabilidade'] = probabilidade
dados['classificacao'] = classificacao

 
dados

             Target   Age  SibSp  ...  Pclass_3  probabilidade  classificacao
PassengerId                       ...
1                 0  22.0      1  ...         1       0.196546              0
2                 1  38.0      1  ...         0       0.774276              1
3                 1  26.0      0  ...         1       0.222437              0
4                 1  35.0      1  ...         0       0.714083              1
5                 0  35.0      0  ...         1       0.176530              0
...             ...   ...    ...  ...       ...            ...            ...
887               0  27.0      0  ...         0       0.299666              0
888               1  19.0      0  ...         0       0.558081              1
889               0   0.0      1  ...         1       0.423324              0
890               1  26.0      0  ...         0       0.568554              1
891               0  32.0      0  ...         1       0.229487              0

[891 rows x 11 columns]